lab1/lab1Screens/SampleData/SampleDataSource2/SampleDataSource2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource2" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource2" type="tns:SampleDataSource2" />
  <xs:complexType name="SampleDataSource2">
    <xs:sequence>
      <xs:element name="UserBooks" type="tns:UserBooks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserBooks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UserBooksItem" type="tns:UserBooksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserBooksItem">
    <xs:attribute blend:FormatParameters="2" name="Property1" type="xs:double" />
    <xs:attribute name="Property2" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="4,7" name="Property4" type="xs:string" />
    <xs:attribute blend:FormatParameters="3,7" name="Property5" type="xs:string" />
    <xs:attribute blend:FormatParameters="3,7" name="Property6" type="xs:string" />
    <xs:attribute name="Property3" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>