lab1/lab1Screens/SampleData/SampleDataSource1/SampleDataSource1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource1" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource1" type="tns:SampleDataSource1" />
  <xs:complexType name="SampleDataSource1">
    <xs:sequence>
      <xs:element name="Users" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UsersItem" type="tns:UsersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsersItem">
    <xs:attribute blend:FormatParameters="4" name="Property1" type="xs:double" />
    <xs:attribute name="Property2" type="tns:Basic-Image" />
    <xs:attribute name="Property3" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>