lab1/lab1Screens/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Books" type="tns:Books" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Books">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BooksItem" type="tns:BooksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BooksItem">
    <xs:attribute blend:FormatParameters="3" name="Property1" type="xs:double" />
    <xs:attribute name="Property2" type="tns:Basic-Image" />
    <xs:attribute name="Property3" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,7" name="Property4" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>